extends layout

block content

    div(class='row mb-2')
        div(class='col-12 col-sm-7 col-md-9')
            div(class='row')
                each book in data.book_list
                    div(class='col-12 col-md-6 mb-3')
                        a(href=book.url, class='text-decoration-none')
                            div(class='card h-100')
                                div(class='row no-gutters h-100')
                                    if book.book_image
                                        div(class='col-4 text-white d-flex justify-content-center align-items-center')
                                            img.img-fluid(src='/book_images/'+book.book_image)
                                    else
                                        div(class='col-4 bg-dark text-white d-flex justify-content-center align-items-center')
                                            div No Image

                                    div(class='col-8')
                                        div(class='card-body')
                                            h5(class='card-title') #{book.title}
                                            p
                                                each cat in book.category
                                                    span(class='badge badge-primary') #{cat.name}
                                                    | &nbsp;
                                            p(class='card-text text-dark') #{book.summary.length <= 120 ? book.summary : book.summary.substring(0,120)+'..'}
                                div(class='card-footer text-center')
                                    small(class='text-muted') #{book.author.fullname}

        div(class='col-12 col-sm-5 col-md-3')
            div(class='p-4 mb-3 bg-light rounded')
                h4 Recent Authors
                ol(class='list-unstyled mb-0')
                    each author in data.author_list
                        li
                            a(href=author.url) #{author.fullname}